body {
    font-family: Roboto, sans-serif;
}

h3 {
    font-size: 1rem;
    font-weight: 800;
}

.flexColNWrap {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
}

.flexCol {
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
}

.flexRowNWrap {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
}

.flexRow {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
}

.flexRow > *, .flexRowNWrap > *, .flexCol > *, .flexColNWrap > * {
    flex-grow: 1;
}

/**
resets
 */

* {
    box-sizing: border-box;
}

a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

p a {
    border-bottom: 1px dashed black;
}

p a:hover {
    border-bottom: 1px dotted black;
}

hr {
    height: 1px;
    background-color: grey;
    border: none;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td, th {
    padding: 0;
    margin: 0;
}

p .material-icons {
    font-size: 1em;
    height: 1em;
    width: 1em;
}

a[target="_blank"]::after {
    font-family: 'Material Icons';
    position: relative;
    top: 0.1em;
    margin: 0 0.1em;
    content: 'launch';
}